#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 600px;
  height: 800px;
  background: rgb(174,223,238);
  background: radial-gradient(circle, rgba(174,223,238,1) 0%, rgba(233,175,148,1) 100%);
  border-radius: 32px;
  padding-top: 32px;
}
.footer {
  display: flex;
  margin: auto 0;

}

.button {
  width: 200px;
  height: 60px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.round-left {
  border-bottom-left-radius: 32px 32px;
  border-color: transparent;
}
.round-right {
  border-bottom-right-radius: 32px 32px;
  border-color: transparent;
}

.active {
  background-color: #1d1d1d;
  border-color: transparent;
}